  body{
    background-color: ivory;
    box-sizing: border-box;

  }
 h1 {
  font-size: 36px;
  font-variant: small-caps;
  background-color:rgb(0, 255, 221);
  font-weight: bolder;
  
  width: 400px;
  padding-right: 0.5cm;
  
  border-radius: 100px;
  text-align: center;
}
h2 { 
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  text-align:justify;
  line-height: 1.5rem;

  
}
