body{
    background-color:white;
    border: aqua 4rem solid;
    border-radius: 4rem;
    
}
h1 {
    color:rgb(55, 0, 255) ;
    margin-left: 4rem;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
    
}
